# ---- Fichiers et dossiers spécifiques au projet ----
.env
*.local.php
*.lock
*.ini
!build/php.ini

# ---- Dépendances ----
minipress.core/src/vendor/
composer.lock

# ---- Cache et logs ----
*.log
*.cache
cache/
logs/
tmp/
temp/
data/

# ---- Fichiers de sessions et uploads temporaires ----
sessions/
uploads/tmp/

# ---- IDE / éditeurs ----
.vscode/
.idea/
nbproject/
*.swp
*.swo
*.bak
*.tmp

# ---- Système ----
.DS_Store
Thumbs.db
desktop.ini

# ---- Tests ----
coverage/
.phpunit.result.cache