# ---- Fichiers et dossiers spécifiques au projet ----
.env
*.local.php
*.lock
*.ini
!build/php.ini
minipress.web/dist/index.js

# ---- Dépendances ----
composer.lock
minipress.core/src/vendor/

package-lock.json
minipress.web/node_modules/

# ---- Cache et logs ----
*.log
*.cache
cache/
logs/
tmp/
temp/
data/

# ---- Fichiers de sessions et uploads temporaires ----
sessions/
uploads/tmp/

# ---- IDE / éditeurs ----
.vscode/
.idea/
nbproject/
*.swp
*.swo
*.bak
*.tmp

# ---- Système ----
.DS_Store
Thumbs.db
desktop.ini

# ---- Tests ----
coverage/
.phpunit.result.cache
