/* GLOBAL */
:root {
    --bg-color: #ffffff;
    --bg-color-medium: #efefef;
}

body {
    font-family: Arial, sans-serif;
    margin: 5px 10px;
    background-color: var(--bg-color-medium);
}

img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 80vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

button{
    cursor: pointer;
    padding: 5px 10px;
    border: 1px #000000 solid;
    border-radius: 5px;
}

input {
    width: stretch;
    padding: 9px;
    margin: 5px 0;
    border-radius: 12px;
    border: 1px solid #333333;
    background-color: var(--bg-color);
    font-size: 1rem;
}

input:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 8px rgba(59,130,246,0.3);
}

/* Section */
#current_article, #current_article .resume{
    border-radius: 15px;
    padding: 7px;
}

#current_article { background-color: var(--bg-color); }
#current_article .resume{ background-color: var(--bg-color-medium) }

#articles article h2, .categorie-item{ cursor: pointer; }
#articles article h2:hover, .categorie-item:hover { color: rgb(49, 90, 180); }

.active {
    font-weight: bold;
    background-color: var(--bg-color);
}