/* GLOBAL */
:root {
    --background-color: #efefef;
}

body {
    font-family: Arial, sans-serif;
    margin: 5px 10px;
    background-color: var(--background-color);
}

img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 80vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

button{
    cursor: pointer;
    padding: 5px 10px;
    border: 1px #000000 solid;
    border-radius: 5px;
}

/* Section */
#current_article, #current_article .resume{
    border-radius: 15px;
    padding: 7px;
}
*
.auteur-link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.auteur-link:hover {
    color: darkblue;
}

#current_article { background-color: #ffffff; }
#current_article .resume{ background-color: var(--background-color); }

#articles article h2, .categorie-item{ cursor: pointer; }
#articles article h2:hover, .categorie-item:hover { color: rgb(49, 90, 180); }
